//text colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-havelock-blue: #458ED3;
$color-san-marino: #426DA9;
$color-cloud-burst: #222E54;
$color-prussian-blue: #002855;
$color-alto: #D0D0D0;
$color-gray: #828282;
$color-alizarin-crimson: #DA291C;
$color-milano-red: #B0170C;
$color-mandy: #E35E55;
$color-wild-sand: #F4F4F4
