section.integration
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | Вернуться в услуги

        .section-header.integration__section-header
            svg(width="160" height="160")
                use(xlink:href='img/sprite.svg#sprite-integration')
            h2 Интеграция
            p Компания Инобитек предлагает возможность приобрести аппаратно-&NoBreak;программные решения по автоматизации различных аспектов рабочего процесса медицинских учреждений с учётом нужд и потребностей Заказчика.

        .integration__accordions
            .accordion
                .accordion__header
                    | Автоматизированное рабочее место
                    svg(width="64" height="64")
                        use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
                .accordion__content 
                    p Комплекс устройств (включая периферию, мониторы и все необходимые для комфортного использования аппаратные средства), полностью готовых к работе сотрудника с программным обеспечением Инобитек.

            .accordion
                .accordion__header
                    | Мобильное рабочее место
                    svg(width="64" height="64")
                        use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
                .accordion__content 
                    p Устройство, с помощью которого сотрудники могут получить доступ ко всем обычным системам своей организации, а также использовать программные продукты Инобитек.

            .accordion
                .accordion__header
                    | СЕРВЕР ДЛЯ PACS (DICOM-&NoBreak;СЕРВЕР, АППАРАТНАЯ ЧАСТЬ)
                    svg(width="64" height="64")
                        use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
                .accordion__content 
                    p Устройство, готовое выполнять функции DICOM-Сервера (архивирование, передача и оперативный доступ к исследованиям, полученным с различного DICOM-оборудования, установленного в учреждении), имеющее достаточную производительность и возможность резервирования данных для соблюдения требований о периоде хранения медицинских данных.

            .accordion
                .accordion__header
                    | ИНОБИТЕК WEB DICOM-&NoBreak;ПРОСМОТРЩИК (АППАРАТНАЯ ЧАСТЬ)
                    svg(width="64" height="64")
                        use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
                .accordion__content 
                    p Устройство, подключаясь к которому, сотрудники имеют возможность работать с Web DICOM-Просмотрщиком, используя мощности и возможности аппаратной части, не нагружая основное устройство.