.certificates
    h2 Сертификаты

    .certificates__slider.swiper-container.js-certificates-slider
        .certificates__slides.swiper-wrapper
            .certificates__slide.swiper-slide
                .certificates__name Сертификат соответствия системы менеджмента требованиям стандарта EN ISO 13485:2016
                .certificates__preview
                    a(href="img/certificate-0.jpg" data-fancybox="certificate")
                        img(src="img/certificate-0-preview.jpg" alt="Свидетельство о государственной регистрации программы для ЭВМ №2015614258")

            .certificates__slide.swiper-slide
                .certificates__name Свидетельство о государственной регистрации программы для ЭВМ №2015614258
                .certificates__preview
                    a(href="img/certificate-1.jpg" data-fancybox="certificate")
                        img(src="img/certificate-1-preview.jpg" alt="Свидетельство о государственной регистрации программы для ЭВМ №2015614258")

            .certificates__slide.swiper-slide
                .certificates__name Свидетельство о государственной регистрации программы для ЭВМ №2014610255
                .certificates__preview
                    a(href="img/certificate-2.jpg" data-fancybox="certificate")
                        img(src="img/certificate-2-preview.jpg" alt="Свидетельство о государственной регистрации программы для ЭВМ №2014610255")

            .certificates__slide.swiper-slide
                .certificates__name Регистрационное удостоверение на медицинское изделие № РЗН 2019/8294
                .certificates__preview
                    a(href="img/certificate-3.jpg" data-fancybox="certificate")
                        img(src="img/certificate-3-preview.jpg" alt="Регистрационное удостоверение на медицинское изделие № РЗН 2019/8294")

            .certificates__slide.swiper-slide
                .certificates__name Приложение к регистрационному удостоверению на медицинское изделие № РЗН 2019/8294
                .certificates__preview
                    a(href="img/certificate-4.jpg" data-fancybox="certificate")
                        img(src="img/certificate-4-preview.jpg" alt="Приложение к регистрационному удостоверению на медицинское изделие № РЗН 2019/8294")

            .certificates__slide.swiper-slide
                .certificates__name CE сертификат
                .certificates__preview
                    span В процессе получения
                    svg(width="48" height="48")
                        use(xlink:href='img/sprite.svg#sprite-loader')

        button.certificates__slider-button.certificates__slider-button--prev.js-button-prev.swiper-button-prev(type="button")
            svg(width="48" height="48")
                use(xlink:href='img/sprite.svg#sprite-slider-arrow')
        button.certificates__slider-button.certificates__slider-button--next.js-button-next.swiper-button-next(type="button")
            svg(width="48" height="48")
                use(xlink:href='img/sprite.svg#sprite-slider-arrow')
