section.sla
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | Вернуться в услуги

        .section-header.sla__section-header
            svg(width="160" height="160")
                use(xlink:href='img/sprite.svg#sprite-sla')
            h2 Услуги корпоративной технической поддержки (SLA)
            p Сервис, предоставляемый Заказчику, описывающий регламент срочного реагирования Службы технической поддержки Инобитек на обращения по устранению проблем, возникших при работе с программными продуктами Инобитек.

        ul.list.sla__list
            li Быстрое реагирование на обращения пользователей.
            li Расширенные часы ответа и реакции на обращения.
            li Минимальный срок решения проблем и ошибок.
            li Выпуск специальных версий продуктов Инобитек со срочными исправлениями для Заказчика в короткие сроки.
            li Тарифы для выбора оптимального взаимодействия пользователей Заказчика со Службой технической поддержки Инобитек.
            li Гарантии установленных сроков решения по обращениям.
            li Специальные условия по обработке обращений в выходные и праздничные дни.
