section.numedy-dm
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | К списку проектов

        .numedy-dm__logo
            img(src='img/numedy-device-manager-card-logo.png' alt='logo')
        .numedy-dm__info
            p “МедЭксперт” — сеть диагностических центров, предоставляющих широкий спектр услуг магнитно-резонансной томографии (МРТ), компьютерной томографии (КТ), ультразвуковых исследований (УЗИ), рентгенографии (Рентген).
            p В медицинском центре используется множество различных приборов, работой которых должна управлять медицинская информационная система (МИС), а также устройств, которые не принимают команд, но должны передать результаты своей работы в МИС. Устройства имеют различные варианты подключения (USB, RS-232, Ethernet и т.д.) и способы взаимодействия с ними. Поддержать их все в МИС практически невозможно, поэтому была разработана программная прослойка DeviceManager (DM), которая предоставляет для МИС единый интерфейс для постановки заданий устройствам и получения результатов.
        .numedy-dm__process
            img(src='img/process.png' alt='process')