section.web
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | К списку проектов

        .web__logo
            .web__logo-icon
                img(src='img/web.png' alt='logo')
        .web__main-info Получите доступ к бесплатному пробному периоду использования Инобитек Web DICOM-Просмотрщика, написав письмо на market@inobitec.com.
        .web__main
            .web__main-block
                .web__main-item
                    .web__main-item-icon
                        svg
                            use(xlink:href='img/sprite.svg#sprite-people')
                    span Работа в многопользовательском режиме
                .web__main-item
                    .web__main-item-icon
                        svg
                            use(xlink:href='img/sprite.svg#sprite-pc')
                    span Удобство администрирования
                .web__main-item
                    .web__main-item-icon
                        svg
                            use(xlink:href='img/sprite.svg#sprite-graph')
                    span Снижение накладных расходов
            .web__main-block
                .web__main-item
                    .web__main-item-icon
                        svg
                            use(xlink:href='img/sprite.svg#sprite-cloud')
                    span Широкие возможности интеграции в сторонние веб-сервисы как SaaS-решения
                .web__main-item
                    .web__main-item-icon
                        svg
                            use(xlink:href='img/sprite.svg#sprite-arrow')
                    span Бесшовная интеграция с другими системами: РИС, МИС, PACS
        .web__snap
            img(src='img/webpage.png' alt='webpage')