section.astrocard
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | К списку проектов

        .astrocard__logo
            .astrocard__logo-icon
                img(src='img/astrocard.png' alt='logo')
            .astrocard__logo-info В рамках создания отечественной системы картирования сердца нашими сторонами реализовано программное обеспечение нефлюороскопического комплекса для проведения внутрисердечных электрофизиологических исследований сердца (Астрокард® - КардиоЭфи II), призванного повысить качество диагностики и лечения различных нарушений ритма сердца.
        h2 Особенности проекта
        ul.list.astrocard__list
            li С++, Qt Framework, OpenGL.
            li Встраиваемая в аппаратное обеспечение кроссплатформенная нативная мультимониторная программная система с графическим интерфейсом пользователя.
            li Комплексная обработка различных сигналов: движения картирующих электродов, ЭКГ (электрокардиограмм) с адаптивной цифровой фильтрацией в реальном времени для обеспечения высоких показателей сигнал/шум.
            li Полигональная интерактивная реконструкция сердца с трехмерной визуализацией,основанная на технологии «Fast Mapping», а также многоканальный вывод ЭКГ.
            li Построение и отображение различных цветных карт пространственной электрофизиологической активности миокарда.