.programming-languages {
    margin-bottom: 101px;

    @media (max-width: 800px) {
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 35px;
        font-family: 'Roboto Mono', monospace;
        font-size: 1.777em;
        line-height: 1.25em;
        text-transform: uppercase;
        color: $color-black;

        @media (max-width: 800px) {
            margin-bottom: 21px;
            font-size: 0.888em;
            line-height: 1.5em;
        }
    }

    p {
        margin-bottom: 45px;
        font-family: 'Roboto Mono', monospace;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $color-black;

        @media (max-width: 800px) {
            margin-bottom: 17px;
            font-size: 0.666em;
            line-height: 1.33em;
        }
    }

    &__container {
        position: relative;

        @media (max-width: 800px) {
            margin-bottom: 23px;
            max-height: 260px;
            overflow: hidden;
            transition: max-height 0.5s ease;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 28px;
            background-color: $color-white;

            @media (max-width: 800px) {
                height: 13px;
            }
        }
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));

        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-white;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            background-color: $color-white;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 199px;
        padding: 28px 20px 20px;
        border-right: 2px solid #ECECEC;
        border-bottom: 2px solid #ECECEC;
        cursor: pointer;

        @media (max-width: 800px) {
            padding: 13px 4px 9px;
            min-height: 142px;
        }


        &:hover{
            .programming-languages__logo-img{
                transition: opacity 0.2s;

                &--full-color{
                    opacity: 1;
                }

                &--monochrome{
                    opacity: 0;
                }
            }

            span{
                font-weight: 700;
                color: $color-prussian-blue;
            }
        }
        
        span {
            font-family: 'Roboto Mono', monospace;
            font-size: 0.777em;
            line-height: 1.43em;
            color: $color-black;
            text-transform: capitalize;

            @media (max-width: 800px) {
                font-size: 0.666em;
                line-height: 1.33em;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        height: 80px;
        width: 160px;
        margin-bottom: 26px;

        background-repeat: no-repeat;
        background-position: center;

        position: relative;

        @media (max-width: 800px) {
            max-width: 70px;
            height: 56px;
            margin-bottom: 16px;
        }
    }

    &__logo-img{
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        transition: opacity 0.3s;

        @media (max-width: 800px) {
            height: 56px;
            max-width: 70px;
        }

        &--full-color{
            opacity: 0;
        }

        &--monochrome{
            opacity: 1;
        }

    }

    &__button {
        display: none;
        min-width: 112px;
        min-height: 40px;
        margin: 0 auto;
        font-size: 0.666em;
        line-height: 1.33em;
        transition: opacity 0.5s ease;

        @media (max-width: 800px) {
            display: flex;
        }

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            display: none;
        }
    }

    .wr{
        padding-right: 24px;
        padding-left: 24px;
    }
}