section.numedy
    .wr
        a.link.link--blue.link--back(href="services.html")
            svg(width="19" height="8")
                use(xlink:href='img/sprite.svg#sprite-link-arrow')
            | К списку проектов

        .numedy__logo
            .numedy__logo-icon
                img(src='img/numedi.png' alt='logo')

        .numedy__video
            .numedy__video-item
                h2 Электронная очередь
                a(data-fancybox href="https://www.youtube.com/watch?v=f9RrZzsiT9Q&feature=emb_title;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/electronic.png' alt='video')
                    span
            .numedy__video-item
                h2 Рабочее место врача
                a(data-fancybox href="https://www.youtube.com/watch?v=PpFIkwcHV4s&feature=emb_logo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/doctor.png' alt='video').numedy__video-item-js
                    span
            .numedy__video-item
                h2 Viewer
                a(data-fancybox href="https://www.youtube.com/watch?v=vaV1v31Spzc&feature=emb_logo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/viewer.png' alt='video').numedy__video-item-js
                    span
            .numedy__video-item
                h2 Видеоконференции
                a(data-fancybox href="https://www.youtube.com/watch?v=aqAWgxV1AWs&feature=emb_logo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/conf.png' alt='video').numedy__video-item-js
                    span
            .numedy__video-item
                h2 Пост оцифровки
                a(data-fancybox href="https://www.youtube.com/watch?v=fqoSa_kZlG8&feature=emb_logo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/post.png' alt='video').numedy__video-item-js
                    span
            .numedy__video-item
                h2 Функциональная диагностика
                a(data-fancybox href="https://www.youtube.com/watch?v=fmXoYYSBwMk&feature=emb_logo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0").numedy__video-item-js
                    img(src='img/function.png' alt='video').numedy__video-item-js
                    span