.distribution-header
    .wr
        .distribution-header__logo
            img(src="img/logo-blue.svg" alt="Инобитек")
        .distribution-header__container
            .distribution-header__description
                h2 Станьте нашим дистрибьютором
                p Наша миссия — расширять границы видимого и возможного для врачей. Предоставляя качественные инновационные IT-решения для медицины, мы способствуем улучшению здоровья людей во всем мире.
                a.btn.btn--light-blue-outline.distribution-header__btn.js-distribution-header-btn(href="#distributor-questionnaire") Заполнить анкету
            .distribution-header__products
                .distribution-header__product-logo
                    img(src="img/inobitec_viewer_lite_ru.svg" alt="Инобитек DICOM-Просмотрщик Lite")
                .distribution-header__product-logo
                    img(src="img/inobitec_viewer_pro_ru.svg" alt="Инобитек DICOM-Просмотрщик Pro")
                .distribution-header__product-logo
                    img(src="img/inobitec_server_ru.svg" alt="Инобитек DICOM-Сервер")
                .distribution-header__product-logo
                    img(src="img/DICOM_web.svg" alt="Инобитек Web DICOM-Просмотрщик")