.new-mobile-menu(style="display: none;")
    .new-mobile-menu_toggle
        span
        span
    a(href="/")
        img(src="img/logo-white.svg" alt="Инобитек")
    .new-mobile-menu_languages
        p.active rus
        a(href="/eng") eng
    ul
        li
            a(href="/about/mission/") Компания
        li
            a(href="/services/") Услуги
        li
            a(href="/products/") Продукты
        li
            a(href="/downloads/") Загрузки
        li
            a(href="/support") Поддержка

        li
            a(href="/buy/") Купить
    .new-mobile-menu_icons
        a(href="/personal/")
            img(src="img/sprite-icons/user.svg" alt="")
        a(href="/cart/")
            img(src="img/sprite-icons/basket.svg" alt="")
            span.new-mobile-menu_icons-counter 0
        a(href="/search/")
            img(src="img/sprite-icons/search.svg" alt="")
    a.new-mobile-menu_phone(href="tel:88003333089") 8-800-3333-089
    a.new-mobile-menu_mail(href="mailto:market@inobitec.com") market@inobitec.com
