section.completed-projects
    .wr
        .section-header.completed-projects__header
            svg(width="120" height="122")
                use(xlink:href='img/sprite.svg#sprite-projects')
            h2 Реализованные проекты
            p Компания Инобитек принимает активное участие в разработке программных продуктов и сервисов для сторонних компаний, занятых в медицинской сфере.

        .completed-projects__list
            a.completed-projects__card(href="amycard.html" target="_blank")
                svg.completed-projects__video-icon(width="52" height="52")
                    use(xlink:href='img/sprite.svg#sprite-video')
                .completed-projects__logo
                    img(src="img/amycard-card-logo.png" alt="Amycard")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')

            a.completed-projects__card(href="astrocard.html" target="_blank")
                .completed-projects__logo
                    img(src="img/astrocard-card-logo.png" alt="Astrocard")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')

            a.completed-projects__card.completed-projects__numedy-card(href="numedy.html" target="_blank")
                .completed-projects__logo
                    img(src="img/numedy-card-logo.png" alt="Numedy")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')

            a.completed-projects__card.completed-projects__numedy-card(href="numedy-dm.html" target="_blank")
                svg.completed-projects__video-icon(width="52" height="52")
                    use(xlink:href='img/sprite.svg#sprite-video')
                .completed-projects__logo
                    img(src="img/numedy-device-manager-card-logo.png" alt="Numedy Device Manager")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')

            a.completed-projects__card.completed-projects__vitaworks-card(href="vitaworks.html" target="_blank")
                .completed-projects__logo
                    img(src="img/vitaworks-card-logo.png" alt="Vitaworks")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')

            a.completed-projects__card(href="web.html" target="_blank")
                .completed-projects__logo
                    img(src="img/DICOM_web-card-logo.png" alt="WEB просмотрщик")
                span.completed-projects__more-details
                    | Подробнее
                    svg(width="19" height="8")
                        use(xlink:href='img/sprite.svg#sprite-link-arrow')
