.services
    .wr
        .section-header.services__section-header.services__integration-header
            svg(width="106" height="106")
                use(xlink:href='img/sprite.svg#sprite-integration')
            h2 Интеграция
            .services__header-container
                p Компания Инобитек предлагает государственным медицинским учреждениям и частным медицинским клиникам комплексные поставки собственных программных продуктов, включающих полностью оборудованные, готовые к использованию рабочие места врачей, а также серверное оборудование для обслуживания бизнес-&NoBreak;процессов компаний ИТ-&NoBreak;подразделениями.
                a.btn.btn--light-blue-outline.services__button(href="integration.html") Подробнее
        
        .section-header.services__section-header.services__sla-header
            svg(width="120" height="120")
                use(xlink:href='img/sprite.svg#sprite-sla')
            h2 Услуги корпоративной техподдержки (SLA)
            .services__header-container
                p Компания Инобитек предлагает собственникам, ИТ-&NoBreak;директорам сетей диагностических центров и медицинских клиник услуги корпоративной технической поддержки, обеспечивающей обслуживание их сотрудников по&nbsp;всем возникающим у них вопросам работы с тиражными программными продуктами Инобитек по всему списку заказанных услуг и в установленные сроки.
                a.btn.btn--light-blue-outline.services__button(href="sla.html") Подробнее