.distribution-conditions
    .wr
        .accordion
            .accordion__header
                | Базовые условия сотрудничества
                svg(width="64" height="64")
                    use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
            .accordion__content
                ul.list.distribution-conditions__list
                    li Наличие офиса, выставочного зала, складских помещений 
                    li Наличие в штате квалифицированных сотрудников, которым будет поручено осуществление&nbsp;реализации&nbsp;товара 
                    li Готовность проводить согласованную с компанией рекламную политику и<br>презентации 
                    li Финансовая стабильность предприятия. Основным принципом проводимой Производителем дистрибьюторской политики является принцип честных и прозрачных партнерских отношений. Деятельность Дистрибьютора осуществляется на основании заключаемого между Дистрибьютором и Производителем дистрибьюторского договора, в котором оговариваются взаимные обязательства Сторон, размеры предоставляемых Дистрибьютору ценовых скидок и прочие условия коммерческих отношений.

        .accordion
            .accordion__header
                | Оплата и поставка лицензий на тиражные продукты
                svg(width="64" height="64")
                    use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
            .accordion__content
                ul.list.distribution-conditions__list
                    li Наличие офиса, выставочного зала, складских помещений 
                    li Наличие в штате квалифицированных сотрудников, которым будет поручено осуществление&nbsp;реализации&nbsp;товара 
                    li Готовность проводить согласованную с компанией рекламную политику и<br>презентации 
                    li Финансовая стабильность предприятия. Основным принципом проводимой Производителем дистрибьюторской политики является принцип честных и прозрачных партнерских отношений. Деятельность Дистрибьютора осуществляется на основании заключаемого между Дистрибьютором и Производителем дистрибьюторского договора, в котором оговариваются взаимные обязательства Сторон, размеры предоставляемых Дистрибьютору ценовых скидок и прочие условия коммерческих отношений.

        .accordion
            .accordion__header
                | Взаимодействие с производителем по вопросам техподдержки
                svg(width="64" height="64")
                    use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
            .accordion__content
                ul.list.distribution-conditions__list
                    li Наличие офиса, выставочного зала, складских помещений 
                    li Наличие в штате квалифицированных сотрудников, которым будет поручено осуществление&nbsp;реализации&nbsp;товара 
                    li Готовность проводить согласованную с компанией рекламную политику и<br>презентации 
                    li Финансовая стабильность предприятия. Основным принципом проводимой Производителем дистрибьюторской политики является принцип честных и прозрачных партнерских отношений. Деятельность Дистрибьютора осуществляется на основании заключаемого между Дистрибьютором и Производителем дистрибьюторского договора, в котором оговариваются взаимные обязательства Сторон, размеры предоставляемых Дистрибьютору ценовых скидок и прочие условия коммерческих отношений.

        .accordion
            .accordion__header
                | Взаимодействие с производителем по вопросам обучения
                svg(width="64" height="64")
                    use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
            .accordion__content
                ul.list.distribution-conditions__list
                    li Наличие офиса, выставочного зала, складских помещений 
                    li Наличие в штате квалифицированных сотрудников, которым будет поручено осуществление&nbsp;реализации&nbsp;товара 
                    li Готовность проводить согласованную с компанией рекламную политику и<br>презентации 
                    li Финансовая стабильность предприятия. Основным принципом проводимой Производителем дистрибьюторской политики является принцип честных и прозрачных партнерских отношений. Деятельность Дистрибьютора осуществляется на основании заключаемого между Дистрибьютором и Производителем дистрибьюторского договора, в котором оговариваются взаимные обязательства Сторон, размеры предоставляемых Дистрибьютору ценовых скидок и прочие условия коммерческих отношений.

        .accordion
            .accordion__header
                | Рекламные материалы для дистрибьюторов
                svg(width="64" height="64")
                    use(xlink:href='img/sprite.svg#sprite-accordion-arrow')
            .accordion__content
                ul.list.distribution-conditions__list
                    li Наличие офиса, выставочного зала, складских помещений 
                    li Наличие в штате квалифицированных сотрудников, которым будет поручено осуществление&nbsp;реализации&nbsp;товара 
                    li Готовность проводить согласованную с компанией рекламную политику и<br>презентации 
                    li Финансовая стабильность предприятия. Основным принципом проводимой Производителем дистрибьюторской политики является принцип честных и прозрачных партнерских отношений. Деятельность Дистрибьютора осуществляется на основании заключаемого между Дистрибьютором и Производителем дистрибьюторского договора, в котором оговариваются взаимные обязательства Сторон, размеры предоставляемых Дистрибьютору ценовых скидок и прочие условия коммерческих отношений.






