.support-links
    .wr
        .support-links__section
            svg(width="80" height="80")
                use(xlink:href='img/sprite.svg#sprite-manual')
            h2 Инструкции к продуктам
            .support-links__list.link.link--blue
                a(href="#") Инобитек DICOM-Просмотрщик
                a(href="#") Инобитек DICOM-Сервер
                a(href="#") Инобитек Web DICOM-Просмотрщик

        .support-links__section
            svg(width="80" height="80")
                use(xlink:href='img/sprite.svg#sprite-bookshelf')
            h2 База знаний
            .support-links__list.link.link--blue
                a(href="#") Часто задаваемые вопросы и ответы
                a(href="#") Инобитек DICOM-Просмотрщик
                a(href="#") Инобитек DICOM-Сервер
                a(href="#") Лицензирование

        .support-links__section
            svg(width="80" height="80")
                use(xlink:href='img/sprite.svg#sprite-paid')
            h2 Дополнительные платные услуги, оказываемые службой технической поддержки
            .support-links__list.link.link--blue
                a(href="#") Общие сведения о платных услугах, предоставляемых Службой технической поддержки
                a(href="#") Перечень услуг, предоставляемых Службой технической поддержки

        .support-links__section
            svg(width="80" height="80")
                use(xlink:href='img/sprite.svg#sprite-folder')
            h2 Загрузки
            .support-links__list.link.link--blue
                a(href="#") Инобитек DICOM-Просмотрщик
                a(href="#") Инобитек DICOM-Сервер
                a(href="#") Запрос доступа к пробному периоду использования Web DICOM-Просмотрщика

