.task-assessment
    h2 Описание задачи на&nbsp;оценку
    p Вы можете отправить нам в чат описание своей задачи на оценку, и&nbsp;мы обсудим всё вместе с вами.
    button.btn.btn--white-outline.task-assessment__button#jivo_custom_widget(type="button" onclick="jivo_api.open()") Перейти в чат